*/History/*
*/__Previews/*
*.PrjPcbStructure
Status Report.txt
/software/curiosity_board.X/build/
/software/curiosity_board.X/dist/
.DS_Store
/software/light_controller.X/build/
/software/light_controller.X/dist/
/software/controller_board.X/build/
/software/controller_board.X/dist/
/software/button_remote/button_remote.X/dist/
/software/button_remote/button_remote.X/build/
/software/controller_board/controller_board.X/build/
/software/controller_board/controller_board.X/dist/