*/History/*
*/__Previews/*
*.PrjPcbStructure
Status Report.txt
/software/curiosity_board.X/build/
/software/curiosity_board.X/dist/
.DS_Store
/software/light_controller.X/build/
/software/light_controller.X/dist/